.h3{
    text-decoration: overline green;
}
.h4{
    text-decoration: line-through gray;
}
.h5{
    text-decoration: underline plum;
}
.h6{
    text-decoration: underline overline blue;
}
.h31{
    text-transform: uppercase;
}
.h41{
    text-transform: lowercase;
}
.h51{
    text-transform: capitalize;
}
.right{
      text-align: right;
}
.center{
      text-align: center;
      width: 40%;
}
.justify{
      text-align: justify;
      width: 40%;
}
.new-roman{
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 40%;
}
.Arial{
    font-family:Arial, Helvetica, sans-serif;
    width: 40%;
}
.Trirong{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    width: 40%;
}
.size40{
    font-size: 40px;
}
.size70{
    font-size: 70px;
}
.opacity100{
    background-color: red;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 20px;
    
}
.opacity50{
    background-color: rgb(255, 0, 0 ,50%);
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 20px;
}
.opacity25{
    background-color: red;
    opacity: 0.25;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 20px;
}
.opacity0{
    background-color: red;
    opacity: 0;
    margin: 0;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    width: 100%;
    height: 20px;
}
.green{
    color: rgba(0, 128, 0, 0.511);
}
.multiple{
    text-align: center;
    background-color: rgba(27, 158, 27, 0.539);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgba(0, 0, 255, 0.461);
}
.shadow{
    color: pink;
    text-shadow: 1px 1px;
}
.toma{
    color: tomato;
}
.copy{
    color: blueviolet;
}
.visible{
  background-color: coral;
  width: 400px;
  height: 65px;
  border: 1px solid;
  overflow: visible;
}
.hidden{
  background-color: black;
  color: white;
  width: 400px;
  height: 65px;
  border: 1px solid;
  overflow: hidden;
}
.scroll{
  background-color: blue;
  opacity: 0.5;
  width: 400px;
  height: 65px;
  border: 1px solid;
  overflow: scroll;
}
.auto{
  background-color:blueviolet;
  opacity: 0.5;
  width: 400px;
  height: 65px;
  border: 1px solid;
  overflow: auto;
}
.x{
  background-color:green;
  opacity: 0.5;
  width: 400px;
  height: 65px;
  border: 1px solid;
  overflow-x: scroll;
}
.y{
  background-color:green;
  opacity: 0.5;
  width: 400px;
  height: 65px;
  border: 1px solid;
  overflow-y: scroll;
}
.Lucida-Sans{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.size20{
    font-size: 20px;
}